.turn-indicator {
  place-self: center;
  margin-bottom: 5rem;
}

.turn-title {
  margin-bottom: 1rem;
  font-size: 1.4rem;
  font-weight: 700;
  color: #fff;
  text-align: center;
}

.arrow_box_right,
.arrow_box_left {
  width: 4rem;
  height: 4rem;
  border: 2px solid #222;
  border-radius: 50%;
  padding: 1rem;
  font-size: 2rem;
  color: #fff;
  text-align: center;
  box-shadow: 0 8px 6px -6px black;
}

.arrow_box_left {
  background-color: #4a148c;
}

.arrow_box_right {
  background-color: #1b5e20;
}
