.setup-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  padding: 1rem;
}

.setup-main-container {
  display: grid;
  align-content: center;
  justify-items: center;
}

.setup-button-box {
  display: flex;
  justify-content: space-around;
}

.start-button {
  padding: 1rem;
  border: 0.2rem solid #222;
  border-radius: 0.5rem;
  background-color: #388e3c;
  color: #fff;
  font-size: 1.2rem;
  font-family: inherit;
  transition: all 0.2s ease-in-out;
  box-shadow: 0 8px 6px -6px black;
  animation: grow 1s ease-in-out infinite;
}

.start-button:disabled {
  color: #aaa;
  filter: brightness(50%);
  pointer-events: none;
  animation: none;
}

.start-button:hover {
  filter: brightness(90%);
  border: 0.2rem solid #fff;
  cursor: pointer;
}

.setup-button {
  padding: 1rem;
  border: 0.2rem solid #222;
  border-radius: 0.5rem;
  background-color: #512da8;
  color: #fff;
  font-size: 1.2rem;
  font-family: inherit;
  transition: all 0.2s ease-in-out;
  box-shadow: 0 8px 6px -6px black;
}

.setup-button:hover {
  filter: brightness(90%);
  border: 0.2rem solid #fff;
  cursor: pointer;
}

.setup-gameboard {
  position: relative;
}

#tip3 {
  top: 10px;
  right: -100px;
}

@keyframes grow {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@media (max-width: 575.9px) {
  .setup-main-container {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 576px) {
  .setup-main-container {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
  .setup-main-container {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1200px) {
}
