.setup-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  margin: 2rem 0;
}

.setup-main-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.setup-button-box {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  display: grid;
  justify-items: center;
}

.start-button {
  width: 100%;
  max-width: 20rem;
  padding: 1rem;
  border: 0.2rem solid #222;
  border-radius: 0.5rem;
  background-color: #388e3c;
  color: #fff;
  font-size: 1rem;
  font-family: inherit;
  transition: all 0.2s ease-in-out;
  box-shadow: 0 8px 6px -6px black;
  animation: grow 1s ease-in-out infinite;
}

.start-button:disabled {
  color: #aaa;
  filter: brightness(50%);
  pointer-events: none;
  animation: none;
}

.start-button:hover {
  filter: brightness(90%);
  border: 0.2rem solid #fff;
  cursor: pointer;
}

.setup-button {
  width: 100%;
  max-width: 20rem;
  padding: 0.5rem;
  border: 0.2rem solid #222;
  border-radius: 0.5rem;
  background-color: #512da8;
  color: #fff;
  font-size: 1rem;
  font-family: inherit;
  transition: all 0.2s ease-in-out;
  box-shadow: 0 8px 6px -6px black;
}

.setup-button:hover {
  filter: brightness(90%);
  border: 0.2rem solid #fff;
  cursor: pointer;
}

.setup-gameboard {
  position: relative;
}

@keyframes grow {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@media (max-width: 575.9px) {
  .setup-main-container {
    flex-direction: column;
  }

  .setup-button-box {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}

@media (min-width: 576px) {
  .setup-main-container {
    flex-direction: column;
  }

  .setup-button-box {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}

@media (min-width: 768px) {
  .setup-main-container {
    flex-direction: row;
  }

  .setup-button-box {
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
  }
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}
