.setup-intro-container {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  padding: 2rem;
  border: 0.2rem solid #222;
  border-radius: 0.5rem;
  background-image: url("../../Images/pink\ dust.png");
  color: #eee;
}

.setup-intro-heading {
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.setup-intro-list {
  margin-bottom: 1rem;
  line-height: 2;
}

.setup-intro-tip {
  font-size: 1.2rem;
}
