@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");

body {
  font-family: "Fredoka One", cursive;
}

.App {
  min-height: 100vh;
  max-width: 100vw;
  display: grid;
  grid-template-columns: 1fr;
  align-content: center;
  justify-items: center;
  gap: 50px;
  background-color: #444;
}

.board-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
