@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");

html {
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Fredoka One", cursive;
  min-height: 100vh;
  max-width: 100vw;
  background-image: url("../../Images/pink\ dust.png");
}

.App {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}

.board-container {
  display: grid;
  margin-top: 1rem;
}

@media (max-width: 575.9px) {
  html {
    font-size: 14px;
  }

  :root {
    --square: 25px;
    --game-size: 275px;
  }

  .board-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
}

@media (min-width: 576px) {
  html {
    font-size: 14px;
  }

  :root {
    --square: 30px;
    --game-size: 330px;
  }

  .board-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 10rem 1fr;
  }
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }

  :root {
    --square: 40px;
    --game-size: 440px;
  }
}

@media (min-width: 992px) {
  .board-container {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 10rem 1fr;
  }
}
@media (min-width: 1400px) {
  :root {
    --square: 50px;
    --game-size: 550px;
  }
}
/* 
@media (min-width: 2000px) {
  :root {
    --square: 60px;
    --game-size: 660px;
  }
} */
