@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Permanent Marker", cursive;
  min-height: 100vh;
  max-width: 100vw;
  background-image: url("../../Images/pink\ dust.png");
}

.App {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
}

.board-container {
  place-self: center;
  display: grid;
  margin-top: 2rem;
}

@media (max-width: 359.9px) {
  html {
    font-size: 14px;
  }

  :root {
    --square: 25px;
    --gameboard: 250px;
    --game-size: 275px;
  }

  .board-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
  }
}

@media (min-width: 360px) {
  html {
    font-size: 16px;
  }

  :root {
    --square: 30px;
    --gameboard: 300px;
    --game-size: 330px;
  }

  .board-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
  }
}

@media (min-width: 768px) {
  :root {
    --square: 40px;
    --gameboard: 400px;
    --game-size: 440px;
  }
}

@media (min-width: 992px) {
  .board-container {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
  }
}
@media (min-width: 1400px) {
  html {
    font-size: 18px;
  }

  :root {
    --square: 50px;
    --gameboard: 500px;
    --game-size: 550px;
  }
}

@media (min-width: 2000px) {
  html {
    font-size: 20px;
  }

  :root {
    --square: 60px;
    --gameboard: 600px;
    --game-size: 660px;
  }
}
