.boatyard {
  position: relative;
  place-self: center;
}

.boatyard-title {
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
  text-align: center;
}

.floating-tip {
  position: absolute;
  padding: 1rem;
  border: 0.1rem solid #aaa;
  border-radius: 2rem;
  color: #fff;
  background-color: #333;
}

#tip1 {
  top: 50px;
  left: -80px;
}

#tip2 {
  bottom: 10px;
  right: -80px;
}

.dock {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 240px;
  width: 240px;
  padding: 1rem;
  border: 0.2rem solid #222;
  border-radius: 0.5rem;
  background-color: #1e88e5;
}

.boat-name {
  font-size: 1.2rem;
  color: #fff;
  text-align: center;
  margin-top: 1rem;
}

.boat {
  height: 40px;
  width: 40px;
  border: 0.1rem solid #333;
  background-color: #666;
}

.boat-vertical,
.boat-horizontal {
  display: flex;
}

.boat-horizontal {
  flex-direction: row;
}

.boat-vertical {
  flex-direction: column;
}

.boat-vertical:hover,
.boat-horizontal:hover {
  cursor: grab;
}
