.main-nav {
  width: 100%;
  max-width: 1400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 3rem;
  background-color: #242526;
}

.nav-title {
  color: #fff;
  font-size: 1.4rem;
}

.nav-button {
  padding: 0.5rem;
  border: 0.1rem solid #222;
  border-radius: 0.5rem;
  background-color: #888;
  color: #000;
  font-size: 1.2rem;
  font-family: inherit;
  transition: all 0.2s ease-in-out;
}

.nav-button:hover {
  background-color: #4a148c;
  color: #fff;
  cursor: pointer;
}
