.nav-container {
  width: 100%;
  background-color: #242526;
}

.main-nav {
  width: 100%;
  max-width: 1400px;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0.5rem 3rem;
}

.nav-title {
  color: #fff;
  font-size: 1.2rem;
}

.nav-links {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  list-style: none;
}

.nav-button,
.icon-link {
  place-self: center;
  padding: 0.5rem;
  border: 0.2rem solid #222;
  border-radius: 0.5rem;
  background-color: #4a148c;
  color: #fff;
  font-size: 1rem;
  font-family: inherit;
  transition: all 0.2s ease-in-out;
}

.nav-button:hover,
.icon-link:hover {
  cursor: pointer;
  filter: brightness(90%);
  border: 0.2rem solid #fff;
}

.nav-menu {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 15rem;
  padding: 2rem;
  border: 0.2rem solid #222;
  border-radius: 0.5rem;
  background-image: url("../../Images/pink\ dust.png");
  color: #eee;
}

.nav-menu-heading {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  text-align: center;
}

.menu-links {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

#back-button {
  background-color: #1b5e20;
}

.icon-link {
  place-self: center;
}

.icon {
  height: 1.45rem;
  width: 1.45rem;
}
