.gameboard-container {
  place-self: center;
  display: grid;
  grid-template-columns: var(--square) 1fr;
  grid-template-rows: var(--square) 1fr;
  box-sizing: border-box;
  border: 0.3rem solid #222;
  border-radius: 0.5rem;
  box-shadow: 0 8px 6px -6px black;
  background-color: #444;
}

.gameboard-col-info {
  grid-column: 1/3;
  grid-row: 1/2;
  width: var(--game-size);
  display: flex;
  justify-content: space-between;
  color: #fff;
}

.gameboard-row-info .info-square {
  border: 0.1rem solid transparent;
}

.gameboard-row-info {
  grid-column: 1/2;
  grid-row: 1/3;
  height: var(--game-size);
  display: flex;
  flex-direction: column;
  color: #fff;
}

.info-square {
  width: var(--square);
  height: var(--square);
  display: flex;
  justify-content: center;
  align-items: center;
}

.gameboard {
  grid-column: 2/3;
  grid-row: 2/3;
  height: var(--gameboard);
  width: var(--gameboard);
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  box-sizing: content-box;
  border-bottom: 0.4rem solid #444;
  border-right: 0.4rem solid #444;
}

.gameboard-column {
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  grid-template-columns: var(--square);
}

.board-square,
.board-hit,
.board-miss,
.is-sunk,
.your-square,
.carrier,
.battleboat,
.destroyer,
.submarine {
  height: var(--square);
  width: var(--square);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.1rem solid #222;
  color: #fff;
  overflow: hidden;
  box-sizing: border-box;
}

.board-square,
.your-square {
  background-color: #888;
  transition: all 0.2s ease-in-out;
}

.your-square:hover {
  filter: brightness(50%);
  cursor: pointer;
}

.board-miss {
  background-color: #1976d2;
  font-size: calc(var(--square));
}

.board-hit {
  background-color: #d32f2f;
  border: calc(var(--square) / 6) solid #222;
  font-size: calc(var(--square) * 0.8);
}

.is-sunk {
  background-color: #555;
  border: calc(var(--square) / 6) solid #222;
  color: #222;
  font-size: calc(var(--square) * 0.9);
}

.carrier {
  background-color: #388e3c;
}

.battleboat {
  background-color: #512da8;
}

.destroyer {
  background-color: #7b1fa2;
}

.submarine {
  background-color: #00796b;
}

.your-info,
.pc-info {
  width: 100%;
  margin: 0.5rem 0;
  padding: 0.5rem;
  border: 0.2rem solid #222;
  border-radius: 0.5rem;
  text-align: center;
  font-size: 1rem;
  line-height: 1.5;
  color: #fff;
  box-shadow: 0 8px 6px -6px black;
}

.your-info {
  background-color: #1b5e20;
}

.pc-info {
  background-color: #4a148c;
}

.active,
.inactive {
  padding: 1rem;
  border-radius: 0.5rem;
  border: 0.1rem solid transparent;
}

.active {
  animation: pulse 1.5s infinite ease-in-out;
}

@keyframes pulse {
  0% {
    background: transparent;
  }
  50% {
    background: #444;
    border: 0.1rem solid #888;
  }
  100% {
    background: transparent;
  }
}

@media (max-width: 359.9px) {
}

@media (min-width: 360px) {
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
}
@media (min-width: 1400px) {
}
