.gameboard {
  height: 400px;
  width: 400px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  border: 0.4rem solid #000;
}

.gameboard-column {
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  grid-template-columns: 40px;
}

.board-square,
.board-hit,
.board-miss {
  border: 0.1rem solid #000;
}

.board-square {
  background-color: #444;
}

.board-miss {
  background-color: blue;
}

.board-hit {
  background-color: red;
}
