.rules-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 40rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  border: 0.2rem solid #222;
  border-radius: 0.5rem;
  background-image: url("../../Images/pink\ dust.png");
  color: #eee;
}

.main-rules {
  margin-bottom: 1rem;
}

ul {
  list-style-position: inside;
  list-style: inside;
}

li {
  margin-bottom: 0.5rem;
  line-height: 1.5;
}

.rule {
  margin-bottom: 0.5rem;
}

.rules-legend {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin-bottom: 1rem;
}

.legend-item {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 2rem;
  align-content: space-around;
  align-items: center;
  padding: 0.5rem;
}

.rules-heading {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 1rem;
}
